---
title: Home
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<style>
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<h1>
					Home
				</h1>

				<section>
					<p>
						Welcome to my website I guess.
					</p>
				</section>

				<section>
					<div>
						To see what this is all about, check out the <a href="/about/">about</a> page.
					</div>

					<div>
						Or don't, I don't really care.
					</div>
				</section>
			</main>
		</div>

		{% include footer.html %}
	</body>

</html>