<nav>
    <ul>
        <li class="logo">
            <img class="logonav whiteLogo" src="/files/images/logos/QupgLogoO.svg" alt="Logo">
        </li>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="/recipes/" class="dropbtn">Recipes</a>
            <div class="dropdown-content">
                <a href="/recipes/all/">All Recipes</a>
                <a href="/recipes/categories/">Categories #ToDo</a>
            </div>
        </li>
        <li class="right"><a href="/about/">About</a></li>
    </ul>
</nav>