<nav>
    <ul>
        <li class="logo">
            <img class="logonav" src="/files/images/logos/QUGLogoSimpleWhiteT500.png" alt="Logo">
        </li>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="/recipes/" class="dropbtn">Recipes</a>
            <div class="dropdown-content">
                <a href="/recipes/popular/">Popular</a>
                <a href="/recipes/recent/">Recent</a>
                <a href="/recipes/all/">All</a>
            </div>
        </li>
        <li class="right"><a href="/about/">About</a></li>
    </ul>
</nav>