/*heading section*/
#heading {
    display: flex;
}
#heading p {
	font-size: .875rem;
}
#heading img {
	height: 15rem;
	width: 15rem;
	margin-right: 1rem;
}
#heading #text .title {
	font-size: 1.25rem;
	font-weight: bold;
	line-height: normal;
	border-bottom: 1px solid slategrey;
	margin-bottom: .5rem;
}
#heading #text {
    min-height: 10rem;
    display: flex;
	flex-direction: column;
}
#heading #text #details {
    /*tt*/
}
#heading #categories {
    color: darkslategray;
}
/*recipe section*/
#recipe {
    display: flex;
}
#recipe #ingredients {
    flex: 0 0 30%;
    padding-right: 1rem;
    border-right: 1px solid slategray;
}
#recipe #directions {
    padding-left: 1rem;
    margin-left: -1px;
}
/*recipe style*/
#recipe #ingredients h2, #recipe #directions h2 {
    text-decoration: underline;
}
#recipe #ingredients h3, #recipe #directions h3 {
    font-size: 1.25rem;
}
#recipe #ingredients ing {
    font-weight: bold;
}
#recipe #directions li {
    line-height: 1.75rem;
}