---
title: About
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				About
				</h1>
				
				<section>
					<p>
					This website will largely be for me to mess around and see what's possible with GitHub Pages. I hope it will be fun!
					</p>
				</section>
				
				<section>
					<div>
					Feel free to email us at <a href="mailto:feedback@qupg.tk"><i>feedback@qupg.tk</i></a>
					</div>
					
					<div>
					Or don't, I don't really care
					</div>
				</section>
			</main>
		</div>
		
		{% include footer.html %}
	</body>
</html>