---
title: About
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				About
				</h1>
				
				<section>
					<p>
						Part of a larger passion project on <a href="https://qupg.org">qupg.org</a> to create my own website.
					</p>
				</section>
				
				<section>
					<div>
						Feel free to email at <!--sse--><a href="mailto:feedback@qupg.org"><em>feedback@qupg.org</em></a><!--sse-->
					</div>
				</section>
			</main>
		</div>
		
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>