---
title: Caramel Sin Bars
image: main.jpg
type: cookie bar
tag: desserts
time: 1 hour 30 minutes
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<style>
			{% include recipe.css %}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<section id="heading">
					<img src="{{ page.image }}" alt="{{ page.title }}">

					<div id="text">
						<h1>
							{{ page.title }}
						</h1>
						<p id="categories">
							{{ page.category | capitalize }} - {{ page.type | capitalize }}
						</p>
						<section id="details">
							Time to Cook: {{ page.time | capitalize }}
						</section>

					</div>
				</section>

				<section id="recipe">
					<section id="ingredients">
						<h2>
							Ingredients
						</h2>
						<ul>
							<li><ing>3/4 c</ing> Crisco Butter flavored</li>
							<li><ing>1 c</ing> Sugar</li>
							<li><ing>1</ing> Egg</li>
							<li><ing>1/4 c</ing> molasses</li>
						</ul>
						<h3>
							Dry Ingredients
						</h3>
						<ul>
							<li><ing>2 tsp.</ing> baking soda</li>
							<li><ing>2 c</ing> flour</li>
							<li><ing>1/2 tsp</ing> cloves</li>
							<li><ing>1/2 heaping tsp</ing> ginger</li>
							<li><ing>1 heaping tsp</ing> cinnamon</li>
							<li><ing>1/2 tsp</ing> salt</li>
						</ul>
					</section>

					<section id="directions">
						<h2>
							Directions
						</h2>
						<ol>
							<li>Put Crisco Butter and sugar in mixer and mix them together.</li>
							<li>Add egg and beat till pale yellow.</li>
							<li>Add molasses and mix till incorporated.</li>
							<li>In a separate bowl, mix dry ingredients together.</li>
							<li>Pour dry ingredients into mixer and mix well.</li>
							<li>Roll into balls, being careful not to compress dough, and gently coat in sugar.</li>
							<li>Bake on greased pan at <strong>375°</strong> for <strong>8-10</strong> minutes.</li>
						</ol>
					</section>
				</section>
			</main>
		</div>

		<footer>
			{% include footer.html %}
		</footer>
	</body>

</html>
