---
title: Test
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				Test
				</h1>
				
				<section>
					<p>
					This is the testing page for my site, not to mess up the others essentially.
					</p>
				</section>
				
				<section>
					<div>
					I'll be using this page for new features before adding them to the other pages.
					</div>
					
					<div>
					But we'll see what I really add.
					</div>
				</section>
			</main>
		</div>
		
		{% include footer.html %}
	</body>
</html>