---
title: Test1
---
<!doctype html>
<html lang="en">
	<head>
		{% include header.html title="Test1" %}
		<style>
		</style>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>
			
			<main>
				<h1>
				Test 1
				</h1>
				
				<section>
					<p>
					This is the "Test 1" page.
					</p>
				</section>
				
				<section>
					<div>
					I'll also use this page for new features.
					</div>
					
					<div>
					Hopefully I don't break anything.
					</div>
				</section>
			</main>
		</div>
		
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>