---
title: All Recipes
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<link rel="stylesheet" href="/css/recipelist.css">
		<style>
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<h1>
					{{ page.title }}
				</h1>

				<section id="recipes">
					<section id="all">
						{% assign all_pgs = site.pages | where_exp: "item", "item.categories contains 'recipes'" | sort: "title" %}
						<ul>
							{% for pg in all_pgs %}
								<li>
									<img class="image" src="{{ pg.url }}{{ pg.image }}" alt="{{ pg.title }}">

									<section class="text">
										<p class="title">
											<a href="{{ pg.url }}" class="public">{{ pg.title }}</a>
										</p>
										<p class="category">
											{{ pg.categories | first | capitalize }} - {{ pg.tag | capitalize }}
										</p>
										<p class="details">
											Time to cook: {{ pg.time }}
										</p>
									</section>
								</li>
							{% endfor %}
						</ul>
					</section>

				</section>
			</main>
		</div>

		<footer>
			{% include footer.html %}
		</footer>
	</body>

</html>