---
title: GingerSnap Cookies
type: cookies
image: gingersnap-cookies.jpg
tag: desserts
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<style>
			{% include recipe.css %}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<section id="heading">
					<img src="{{ page.image }}" alt="{{ page.title }}">

					<div class="text">
						<h1>
							{{ page.title }}
						</h1>
						<p>
							{{ page.category | capitalize }} - {{ page.type | capitalize }}
						</p>
						
					</div>
				</section>

				<section id="recipe">
					<section id="ingredients">
						<h2>
							Ingredients
						</h2>
						3/4 c Crisco butter flavored
						1 c sugar
						1 egg
						1/4 c molasses
						2 tsp. baking soda
						2 c flour
						1/2 tsp. cloves
						1/2 heaping tsp. ginger
						1 heaping tsp. cinnamon
						1/2 tsp. salt
					</section>
					<section id="directions">
						<h2>
							Directions
						</h2>
						Put shortening and sugar in mixer and mix them together. Add egg and beat till pale yellow. Add molasses and mix till
						incorporated. In a separate bowl, mix dry ingredients together. Pour dry ingredients into mixer and mix well. Roll into
						balls, being careful not to compress dough, and gently coat in sugar. Bake on greased pan. 375° for 8-10 minutes.
					</section>
				</section>
			</main>
		</div>

		<footer>
			{% include footer.html %}
		</footer>
	</body>

</html>