---
title: GingerSnap Cookies
id: 0
date: 2022-07-22
image: main.jpg
tag: cookies
time: 1 hour
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<link rel="stylesheet" href="/css/recipe.css">
		<style>
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<section id="heading">
					<img src="{{ page.image }}" alt="{{ page.title }}">

					<div id="text">
						<h1>
							{{ page.title }}
						</h1>
						<p id="categories">
							{{ page.categories | first | capitalize }} - {{ page.tag | capitalize }}
						</p>
						<section id="details">
							Time to Cook: {{ page.time | capitalize }}
							<br>
							Published: {{ page.date | date_to_string: "ordinal", "US" }}
						</section>
					</div>
				</section>

				<section id="recipe">
					<section id="ingredients">
						<h2>
							Ingredients
						</h2>
						<ul>
							<li><mes>3/4 c</mes> Crisco Butter flavored</li>
							<li><mes>1 c</mes> Sugar</li>
							<li><mes>1</mes> Egg</li>
							<li><mes>1/4 c</mes> molasses</li>
						</ul>
						<h3>
							Dry Ingredients
						</h3>
						<ul>
							<li><mes>2 tsp.</mes> baking soda</li>
							<li><mes>2 c</mes> flour</li>
							<li><mes>1/2 tsp</mes> cloves</li>
							<li><mes>1/2 heaping tsp</mes> ginger</li>
							<li><mes>1 heaping tsp</mes> cinnamon</li>
							<li><mes>1/2 tsp</mes> salt</li>
						</ul>
					</section>

					<section id="directions">
						<h2>
							Directions
						</h2>
						<ol>
							<li>Put Crisco Butter and sugar in mixer and mix them together.</li>
							<li>Add egg and beat till pale yellow.</li>
							<li>Add molasses and mix till incorporated.</li>
							<li>In a separate bowl, mix dry ingredients together.</li>
							<li>Pour dry ingredients into mixer and mix well.</li>
							<li>Roll into balls, being careful not to compress dough, and gently coat in sugar.</li>
							<li>Bake on greased pan at <strong>375°</strong> for <strong>8-10</strong> minutes.</li>
						</ol>
					</section>
				</section>
			</main>
		</div>

		<footer>
			{% include footer.html %}
		</footer>
	</body>

</html>