---
title: Desserts
type: notrecipe
---
<!doctype html>
<html lang="en">

	<head>
		{% include header.html %}
		<link rel="stylesheet" href="/css/recipelist.css">
		<style>
		</style>
	</head>

	<body>
		<div class="wrapper">
			<header>
				{% include nav.html %}
			</header>

			<main>
				<h1>
					{{ page.title }}
				</h1>

				<section id="recipes">
					<section id="recent">
						<h2>
							Recent Desserts
						</h2>
						{% assign recent_pgs = site.pages | where_exp: "item", "item.categories contains 'desserts'" | where_exp: "item", "item.type != 'notrecipe'" | sort: "date" | reverse %}
						
						<ul>
							{% for page in recent_pgs limit: 6 %}
							<li>
								<img class="image" src="{{ page.url }}{{ page.image }}" alt="{{ page.title }}">
						
								<section class="text">
									<p class="title">
										<a href="{{ page.url }}" class="public">{{ page.title }}</a>
									</p>
									<p class="category">
										{{ page.categories | first | capitalize }} - {{ page.tag | capitalize }}
									</p>
									<p class="details">
										Time to cook: {{ page.time }}
									</p>
								</section>
							</li>
							{% endfor %}
						</ul>
					</section>

					<section id="all">
						<h2>
							<a href="/recipes/desserts/all/">All Desserts</a>
						</h2>
					</section>
				</section>
			</main>
		</div>

		<footer>
			{% include footer.html %}
		</footer>
	</body>

</html>